@import './mixins';
@import './variables';
@import './text';

.site-width {
  max-width: 950px;
  margin: 0 auto;
}

.two-by-two {
  width: calc(100%/2 - 40px);
  padding-right: 40px;
}

.double-wrapper-pad {
  padding: 40px 0;
}

.wrapper-pad {
  padding: 20px 0;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  & > div {
    margin: 10px 10px 0 0;
    background-color: rgb(1, 58, 58);
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@include breakpoint(site-width) {
  .site-width {
    margin: 0 40px;
  }
}
@include breakpoint(tablet-portrait) {
  .two-by-two {
    width: calc(100% - 80px);
    padding-right: 0;
    margin: 0 auto;
  }
  .h2-size {
    font-size: 22px;
  }
  .h3-size {
    font-size: 16px;
  }
}
@include breakpoint(mobile) {
  .site-width {
    margin: 0 20px;
  }
  .double-wrapper-pad {
    padding: 20px 0;
  }
}