// expand to pass in flex rules
@mixin flexbox_standard() {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexbox_aligned() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}