// expand to pass in flex rules
@mixin flexbox_standard() {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexbox_aligned() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin makeSquare() {
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
@mixin breakpoint($point) {
  $bp-site-width: "(max-width: 1030px)";

  @if $point == site-width {
    @media only screen and #{$bp-site-width} { @content; }
  }
}