.h2-size {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.h3-size {
  font-size: 18px;
  padding: 1em 0;
  font-weight: 500;
}

.text {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.external-link {
  font-size: 14px;
  color: white;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 2px;
}